@charset="utf-8";

body {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* -webkit-text-size-adjust: 100%; */
    font-family: "Arial Unicode MS", sans-serif;
}

/* Take Tets + Start */
h1 {
    text-align: center;
    font-size: 5.0em;
    font-weight: normal;
    font-family: "Arial Unicode MS", sans-serif;
    display: inline-block;
    border-bottom: dashed 4px black;
    margin-bottom: 20px;
}


/*Select background color */
h2 {
    text-align: auto;
    font-size: 3.0em;
    font-weight: bold;
    margin-bottom: 15px;
}

p {
    text-align: center;
    font-size: auto;
    font-weight: lighter;
}

startbutton {
    font-size: 1.4em;
    font-weight: bolder;
    font-family: "Arial Unicode MS", sans-serif;

    color: black;
    background-color: white;

    border-radius: 10px;
    border-style: hidden;
    height: 50px;
    margin: auto;

    align-content: center;

    padding: 10px 30px;
    text-align: center;

    box-shadow: 3px 3px 3px 1px black;
    -moz-box-shadow: 3px 3px 3px 1px black;
    -webkit-box-shadow: 3px 3px 3px 1px black;

    text-shadow: 1px 1px 2px gray;
}

startbutton:hover {
    background-color: black;
    color: white;
}

a:visited {
    color: #660099;
}
