@charset="utf-8";

body {
    width: 80%;
    margin: auto;
    background-color: darkgray;
    font-family: "Arial Unicode MS", sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
    padding-top: 0px;
    font-size: 42px;
    color: black;
}

p {
    font-size: 16px;
    font-family: helvetica, sans-serif;
    margin-left: 20%;
    margin: auto;
    width: 60%;
    padding: 1%;
}

button {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    cursor: pointer;
}

#sendInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
